<a href="https://colab.research.google.com/github/viniciusrpb/cic0004_alg_prog_comp/blob/main/paginas/cap_02_variaveis_expressoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Capítulo 2: Variáveis, expressões e instruções

Atenção: este notebook não contém um programa inteiro, mas sim trechos de código-fonte que devem ser executados sequencialmente para o funcionamento esperado (geração das saídas corretas).

## 2.1. Variáveis

Uma variável é um espaço na memória cujo nome abstrai seu endereço associado (na memória). A seguir, mostramos como criamos duas variáveis já com valores atribuídos à elas:

In [1]:
a = 5
b = 2

Lembre-se que para criar uma variável em Python, sempre devemos atribuir um valor à ela, seja a partir:

1.   de uma constante (valor inicial)
2.   da entrada padrão (usuário digita tal valor, ou é fornecido pelo juíz automático - beecrowd, CodeRunner -)
3.   de operações que utilizem outras variáveis e constantes.

Estudaremos essas opções no decorrer da aula.

Lembre-se que não é permitido nomear variáveis com símbolos especiais (exceto underline "_"). Também não é permitido que os primeiros caracteres do nome da variável contenham números. Apresentamos a seguir exemplos de nomes incorretos de variáveis:

In [2]:
# variável cujo nome começa com número
10cc = 5
10cc

SyntaxError: ignored

In [3]:
# caractere especial no meio da variável
em@il = "cic@unb.br"

SyntaxError: ignored

Lembre-se que existe diferenciação de letras minúsculas e maiúsculas em nomes de variáveis (*case-sensitive*). Por exemplo, as variáveis abaixo *time* e *TIME* são distintas (**evite essa estratégia para nomear variáveis**):

In [4]:
time = "Athletico Paranaense"
tIME = "Gama"

time

'Athletico Paranaense'

In [5]:
tIME

'Gama'

**Boa prática de programação:** utilize sempre variáveis mnemônicas no seu código-fonte. Isso significa que o nome da variável corresponde à sua função e significado no código-fonte. Por exemplo:

In [6]:
salario = 56763.42
idade = 14
logradouro = "Setor da Zueira Ilimitada, Quadra 04"

Utilizar variáveis mnemônicas tem como pontos positivos:


*   Deixa o código-fonte organizado;
*   Facilita tarefas de depuração e testes no código-fonte;
*   Permite que outro desenvolvedor leia e entenda seu código-fonte mais facilmente.


Aqui vão alguns exemplos de nomes ruins para variáveis:

In [7]:
salario = "Herculiano Walter Medina"
idade = "Taguatinga"
qualquer = "Setor da Zueira Ilimatada, Quadra 04"
tipocaracterizacaodedisciplina = 3   #nome de variável muito grande!

Geralmente, os padrões de projeto comumente adotados em empresas de software definem estratégias para a criação de variáveis. Por exemplo,

In [8]:
time_futebol = "Athletico Paranaense"
timeFutebol = "Athletico Paranaense"

Especificamente, alguns nomes também não podem ser utilizados para variáveis. São as **palavras reservadas** da linguagem Python 3, que são palavras que representam comandos e objetos pré-definidos de sua sintaxe. Veja quando tentamos colocar a variável com o nome "class":

In [9]:
class = "English"

SyntaxError: ignored

## 2.2. Expressões e Instruções

Vamos agora alterar o valor das variáveis $a$ e $b$:

In [10]:
a = 3
b = 4

Dentre as operações aritméticas que podemos fazer com as variáveis e as constantes, podemos citar a soma:

In [11]:
s = a+b
s

7

No exemplo acima, o resultado da soma das variáveis $a$ e $b$ é armazenado em uma variável $s$. Pode-se fazer também a soma de uma variável e uma constante:

In [12]:
s = a+6
s

9

A seguir, fazemos a soma de duas variáveis, mas sem armazenar o resultado em uma outra variável. O que tem bom ou ruim nisso?

*   Parte boa: você pode fazer essa soma e utilizar o valor apenas em um determinado momento do seu código-fonte
*   Parte ruim: o valor de $a+b$ não é armazenado em nenhum lugar. Se, futuramente, precisarmos desse valor, teremos que refazer essa operação.

In [13]:
a+b

7

Já no comando abaixo, obtemos apenas o valor da soma de uma variável com uma constante:

In [14]:
a+2

5

Repare que o valor de $s$ não é alterado, pois não houve nenhuma atribuição do valor resultante de qualquer outra operação aritmética (soma, subtração, multiplicação ou divisão) nas duas últimas células:

In [15]:
s

9

Portanto, caso queiramos atualizar o valor de $s$, lembre-se de colocar a atribuição:

In [16]:
s=a+2
s

5

Podemos também acrescentar um determinado valor ao valor já existente em uma variável. Tal operação é conhecida como **incremento**. Por exemplo, se $s=5$, ao fazermos $s=s+3$, temos que:

$s = s + 3 = 5 + 3 = 8$

No código-fonte, pode-se escrever da seguinte maneira:

In [17]:
s = s + 3
s

8

Existe também o **decremento**, em que subtrai-se um determinado valor do valor de uma variável. Assim, se $s=8$, ao fazermos $s=s-2$, temos que:

$s = s - 2 = 8 - 2 = 6$

No código-fonte, pode-se escrever da seguinte maneira:

In [18]:
s=s-2

s

6

Apresentamos a seguir uma notação alternativa (reduzida) para incrementar e decrementar variáveis. Nos exemplos a seguir, o incremento e o decremento ocorrem em 1 unidade:

In [19]:
# s = s + 1
s += 1
s

7

In [20]:
# s = s - 1
s -= 1
s

6

Podemos fazer operações similares com multiplicação e divisão. No exemplo abaixo, utilizando a multiplicação, estamos dobrando o valor existente na variável $s$:

$s = s \times 2 = 6 \times 2 = 12$

In [21]:
s = s*2
s

12

Já com o operador de divisão inteira, "//", podemos, por exemplo, reduzir em $\frac{3}{4}$ o valor da variável $s$:

In [24]:
s = s//4
s

3

O mesmo vale para o operador resto "%":

In [26]:
s = s%3
s

0

Ixii... zeramos o s. Vamos colocar um valor nele por meio de incremento.

In [ ]:
s = s+7

Exponenciação

Utiliza-se o operador (**). Não confundir com o operador (^), que é um operador Bitwise XOR.

In [ ]:
e = s**2
e

r = e elevado a meio é a mesma coisa da raiz quadrada

In [ ]:
r = e**(1/2)
r

Função para converter de real para inteiro

In [ ]:
r = int(r)
r

In [ ]:
r = 5*3.0
r

Ordem de precedência dos operadores



1.   Parênteses
2.   Exponenciação
3.   Multiplicação e Divisão (Resto)
4.   Adição e Subtração

Quando a ordem de precedência for a mesma entre os operadores de uma expressão, a expressão lida da esquerda para a direita

2+3 * 7 = 2+(3*7) = 2+21 = 23

In [ ]:
2+3*7

(2+3) * 7 = 5 * 7 = 35

In [ ]:
(2+3)*7

Operador de divisão e multiplicação

8//2 * 4 = (8//2) * 4 = 16

In [ ]:
8//2*4

Se quisermos fazer a operação de multiplicação antes da divisão, devemos incluir os parênteses como mostra o exemplo abaixo

8 // (2*4)  = 8 // 8 = 1

In [ ]:
8//(2*4)

Exceção é feita para o operador de exponenciação, em que a regra é da direita para a esquerda:

In [ ]:
2**3**2

Mas eu queria era fazer dois elevado a 3, que é tudo elevado ao quadrado

(2 ** 3 )** 2 = 8**2 = 64

In [ ]:
(2**3)**2

## 2.4. Strings

Declarando uma variável string

In [ ]:
logradouro = "Setor dos Devedores Infinitos, Quadra 13, Bloco C, casa 3"
logradouro_unb = "Universidade de Brasília, campus Darcy Ribeiro"

Posso pedir também para o usuário fornecer a string de entrada:

In [ ]:
logradouro = input("Digite seu logradouro: ")

print("Você digitou: ",logradouro)

Como a função input realiza a leitura da entrada padrão (usuário, juiz automático - beecrowd, CodeRunner), podemos fazer a conversão de string para inteiro ou real

In [ ]:
idade = int(input("Digite sua idade: "))
idade = idade+10

print(idade)

Agora para valores reais

In [ ]:
peso = input("Digite seu peso: ")

peso = float(peso) + 4.5

peso